
.titulo-centrado {
  text-align: center;
  background-color: #cccccc;
}

p {
  text-align: center;
  background-color: #110f1a;
  color: #cccccc;
}

/*tengo dos <strong>. haciendo "em strong" estoy aplicando el rojo solamente al <strong> que está dentro del <em>*/
em strong {
  color: red;
}

#banner {
  width: 100%;
}

#mission {
  font-size: 20px;
}

.titulo-principal {
  padding-left: 30px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.items {
  font-style: italic;
}

.principal {
  background: #110f1a;
  padding: 20px;
}

.diferenciales {
  background-color: aliceblue;
  padding: 30px;
}

.imgDiferencial {
  width: 50%;
}

header {
  background-color: #6f8299;
  padding: 20px 0;
}

.caja {
  width: 940px; /*940 porque es el 70% del tamaño común de las pantallas*/
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #591fb6;
}